body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.calculator {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba( 133, 114, 83, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#display {
  width: 100%;
  height: 56px;
  margin-bottom: 10px;

  font-size: 1.5em;
  border: none;
  background-color: black;
  color: white;
}

.buttons {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 100%;
  border: none;
}
button:hover{
  background-color: #ccc;
  color: #000;
}

.numbre{
  background-color: rgb(97, 92, 92);
  color: white;
  font-size: 25px;

}
.c{
  background-color: gray;
  color: #000;
  font-size: 25px;

}
.d{
  background-color: #E9B824;
  color: white;
  font-size: 25px;
}
